<!DOCTYPE html>
<html ng-app="workTimeTrackerApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ng-work-time-tracker</title>
    <meta name="description" content="Simple time tracker that makes it easy to record what are you doing at office">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/obvious-buttons.css">
    <link rel="stylesheet" href="bower_components/FlipClock/compiled/flipclock.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="bower_components/animate.css/animate.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway:400,700">
  </head>
  <body class="color-{{currentActivity.color || 'default'}}">
    <header class="header">
      <h1 class="header-title">ng-work-time-tracker</h1>
      <p class="header-desctiption">Simple time tracker that makes it easy to record what are you doing at office</p>
    </header>
    <div ng-view class="bounce-animation"></div>
    <ul class="menu-icons-panel" ng-controller="NavCtrl">
      <li><a tooltip="Track you time" ng-class="navClass('')" href="#/"><i class="fa fa-clock-o"></i></a></li>
      <li><a tooltip="Statistics" ng-class="navClass('statistics')" href="#/statistics"><i class="fa fa-bar-chart-o"></i></a></li>
      <li><a tooltip="Settings" ng-class="navClass('settings')" href="#/settings"><i class="fa fa-gear"></i></a></li>
    </ul>
    <!-- <script src="bower_components/jquery/jquery.js"></script> -->
    <script type="text/javascript">
      window.$ = window.jQuery = require('./bower_components/jquery/jquery.js');
    </script>
    <script type="text/javascript">
      var fs = require('fs');
    </script>
    <script src="bower_components/FlipClock/compiled/flipclock.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <script src="app/app.js"></script>

    <script src="app/controllers/nav.js"></script>
    <script src="app/controllers/main.js"></script>
    <script src="app/controllers/statistics.js"></script>
    <script src="app/controllers/settings.js"></script>

    <script src="app/directives/flipClock.js"></script>

    <script src="app/filters/timeDuration.js"></script>

    <script src="app/services/activities.js"></script>
    <script src="app/services/flipClock.js"></script>
  </body>
</html>
